* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px red solid;
}

.header {
  /* display: flex;
  justify-content: space-between; */
}
.container-header {
  /* max-width: 1024px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  /* align-items: center; */
}
