* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* display: flex;
  justify-content: space-between; */
}
.container-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 10px;
}

.header-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo figure {
  padding: 0;
}

.header-logo figure img {
  width: 50px;
}

.header-logo p {
  font-size: 50px;
  margin-left: 10px;
}

.search {
  width: 100%;
}

.user {
  width: 100%;
}
